/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  min-height: 100vh;
  color: var(--main-font-color);
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--main-text-weight);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.header {
  font-family: var(--title-font-family);
  inline-size: var(--container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-of-border);
  text-transform: uppercase;
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  margin-top: 100px;
  margin-bottom: 95px;
  gap: 20px;
  background-color: var(--background-color);
  box-sizing: border-box;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  inline-size: var(--container-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  font-size: var(--card-text-size);
  font-style: normal;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-of-border);
  background-color: var(--background-color);
  box-sizing: border-box;
}

.title__card {
  font-size: var(--card-title-size);
  font-style: normal;
  font-variation-settings: "wght" var(--title-card-weight);
  padding: 5px 10px;
  border-bottom: 2px solid var(--color-of-border);
}

.card__image {
  position: relative;
  border-bottom: 2px solid var(--color-of-border);
}

.label {
  position: absolute;
  color: var(--main-font-color);
  font-family: var(--title-font-family);
  font-size: var(--label-text-size);
  top: 25px;
  right: 25px;
  opacity: 50%;
  z-index: 1;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 var(--text-stroke-color),
    1px -1px 0 var(--text-stroke-color),
    -1px 1px 0 var(--text-stroke-color),
    1px 1px 0 var(--text-stroke-color);
}

@supports (-webkit-text-stroke: 2px #000) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.img__filter-brightness {
  filter: brightness(80%);
}

.img__filter-sepia {
  filter: sepia(0.3) contrast(0.8) brightness(0.7);
}

.img__filter-saturate {
  filter: saturate(110%);
}

.img__filter-grayscale {
  filter: grayscale(0.8);
}

.img__filter-contrast {
  filter: contrast(80%);
}

.img__filter-contrast-brightness {
  filter: contrast(120%) brightness(65%);
}

.img__filter-blur {
  filter: blur(1px);
}

.img__filter-contrast-saturate {
  filter: contrast(100%) saturate(90%);
}

.text__card {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 0 25px;
  gap: 24px;
  line-height: var(--main-text-line-height);
  margin-bottom: 25px;
}

.button {
  font-family: var(--title-font-family);
  color: var(--accent-font-color);
  background-color: var(--background-color);
  border: 2px solid var(--color-of-border);
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-of-border);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--color-of-border);
}

.container__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 8px;
  margin-bottom: 23px;
  margin-right: 25px;
}

.button__text {
  display: inline-block;
  mix-blend-mode: difference;
  font-size: 14px;
  line-height: 90%;
  font-weight: var(--weight-text-botton);
}

.card__icon-button {
  border: none;
  background-color: transparent;
  align-self: center;
  padding: 0;
  margin: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-of-border);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 20px;
  gap: 5px;
  margin-bottom: 100px;
}

.icon__floppy {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.dialog {
  max-inline-size: 353px;
  inline-size: 100%;
  min-inline-size: 341px;
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.window__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font-family);
  gap: 30px;
}

.text_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.window__text {
  text-transform: uppercase;
  font-size: var(--modal-window-text-size);
  line-height: 150%;
}

.dialog-icon {
  min-width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

.button__ok {
  width: 100%;
  padding: 7.5px 0;
}

@media (width < 376px) {
  .button__save {
    flex-direction: column;
  }

  .icon__floppy {
    width: 28px;
    height: 28px;
  }
}

.like-icon:hover {
  cursor: pointer;
}
